language: java
dist: trusty

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - wget
      - pkg-config

before_install:
  - wget https://github.com/bazelbuild/bazel/releases/download/0.4.5/bazel_0.4.5-linux-x86_64.deb
  - wget https://github.com/bazelbuild/bazel/releases/download/0.4.5/bazel_0.4.5-linux-x86_64.deb.sha256
  - sha256sum -c bazel_0.4.5-linux-x86_64.deb.sha256
  - sudo dpkg -i bazel_0.4.5-linux-x86_64.deb

script:
  - bazel test --config=travis //javatests/monkey/...
